/* Candidates.css */

.candidates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .candidate {
    width: 200px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .candidate img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .candidate h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .candidate p {
    color: #555;
    margin-bottom: 10px;
  }
  
  .candidate button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .candidate button:hover {
    background-color: #45a049;
  }
  
  img{
    height: 100px;
  }